body {
  font-family: sans-serif;
  color: black;
}

.weather-app {
  max-width: 800px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 30px;
  align-content: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}

h1 {
  text-align: center;
  padding: 10px;
}
form {
  padding: 10px;
  border-radius: 10px;
}
.city {
  padding: 5px;
}
.fa-cloud {
  color: lightslategray;
  font-size: 50px;
}
.fa-cloud-sun {
  color: lightslategray;
  font-size: 50px;
}
.fa-sun {
  color: lightslategray;
  font-size: 50px;
}
.row {
  text-align: center;
}
.days {
  font-style: italic;
}
.actual-temperature {
  font-size: 80px;
  line-height: 1;
}
